In [1]:
import numpy as np 
import pandas as pd
import torch


print(torch.cuda.is_available())
print(torch.cuda.device_count())
print(torch.cuda.current_device())
if torch.cuda.is_available():
  print(torch.cuda.get_device_name(0))

True
4
0
NVIDIA RTX A6000

In [2]:
eqns_df=pd.read_csv("FeynmanEquations.csv")

In [3]:
eqns_df.head()

,Filename,Number,Output,Formula,# variables,v1_name,v1_low,v1_high,v2_name,v2_low,...,v7_high,v8_name,v8_low,v8_high,v9_name,v9_low,v9_high,v10_name,v10_low,v10_high
0,I.6.2a,1.0,f,exp(-theta**2/2)/sqrt(2*pi),1.0,theta,1.0,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,I.6.2,2.0,f,exp(-(theta/sigma)**2/2)/(sqrt(2*pi)*sigma),2.0,sigma,1.0,3.0,theta,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I.6.2b,3.0,f,exp(-((theta-theta1)/sigma)**2/2)/(sqrt(2*pi)*...,3.0,sigma,1.0,3.0,theta,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,I.8.14,4.0,d,sqrt((x2-x1)**2+(y2-y1)**2),4.0,x1,1.0,5.0,x2,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,I.9.18,5.0,F,G*m1*m2/((x2-x1)**2+(y2-y1)**2+(z2-z1)**2),9.0,m1,1.0,2.0,m2,1.0,...,2.0,z1,3.0,4.0,z2,1.0,2.0,NaN,NaN,NaN

In [5]:
import subprocess

filename = "Feynman_with_units/I.14.4"
subprocess.run(["file", filename])

Feynman_with_units/I.14.4: ASCII text

CompletedProcess(args=['file', 'Feynman_with_units/I.14.4'], returncode=0)

In [6]:
with open("Feynman_with_units/I.14.4", "r") as f:
    lines = f.readlines()
print(lines[:10])  # print out the first 10 lines

['4.227175852873909 1.4623106468919924 4.519595874316855 \n', '1.0203046231693396 4.222930954801781 9.097620577705683 \n', '3.6724546362176556 3.5503431247719104 23.14552838371989 \n', '2.5203380362082526 3.7996498456714174 18.19348724829355 \n', '4.71994698815859 2.8324528606279804 18.933569878709353 \n', '2.235942727443416 2.246822762844178 5.6437570438768265 \n', '2.1929107039522138 2.489820770518747 6.797154207731442 \n', '2.51043439712696 4.226986706386635 22.427488630263593 \n', '2.026925069392104 1.1804316949703204 1.4121779379422694 \n', '4.801282260653573 1.2126101975283667 3.5299591118528784 \n']

In [2]:
import pandas as pd

df = pd.read_csv("Feynman_with_units/III.17.37", 
                 sep=r"\s+",  # whitespace separator
                 header=None) # no header row
print(df.shape)

(1000000, 4)

In [3]:
df.head()

          0         1         2         3
0  3.116150  4.261260  4.853011  4.977278
1  4.396022  1.976419  3.177826 -4.286656
2  4.555049  3.215873  2.320554 -5.427313
3  1.334108  2.601124  4.351005  0.107158
4  3.796019  3.435712  3.874036 -5.901289